---
title: 'Contact'
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class='text-white p-8 rounded shadow-md w-full max-w-4xl mx-auto'>
    <h1 class='text-3xl font-bold mb-6'>Contact Me</h1>
    <p class='mb-4 text-lg'>Hello! I'm Pablo, a programador. Feel free to reach out to me through the form below or via the contact details provided.</p>
    <div class='mb-8'>
      <h2 class='text-2xl font-semibold mb-2'>Contact Information</h2>
      <p class='text-lg'>Email: <a href='mailto:pablorocamoralopez@gmail.com' class='text-blue-500'>pablorocamoralopez@gmail.com</a></p>
      <p class='text-lg'>Phone: <a href='tel:+34675805436' class='text-blue-500'>+34 675805436</a></p>
      <p class='text-lg'>LinkedIn: <a href='https://www.linkedin.com/in/pablorocamora' class='text-blue-500'>linkedin.com/in/pablorocamora</a></p>
    </div>
    <form class='bg-[#002b5c] p-4 rounded-lg shadow-lg'>
      <h2 class='text-2xl font-semibold mb-4'>Contact Form</h2>
      <div class='mb-4'>
        <label for='name' class='block text-gray-300 text-lg'>Name</label>
        <input type='text' id='name' name='name' class='w-full p-2 border border-gray-300 rounded mt-1' required />
      </div>
      <div class='mb-4'>
        <label for='email' class='block text-gray-300 text-lg'>Email</label>
        <input type='email' id='email' name='email' class='w-full p-2 border border-gray-300 rounded mt-1' required />
      </div>
      <div class='mb-4'>
        <label for='message' class='block text-gray-300 text-lg'>Message</label>
        <textarea id='message' name='message' class='w-full p-2 border border-gray-300 rounded mt-1' rows='5' required></textarea>
      </div>
      <button type='submit' class='bg-green-400 text-white p-2 rounded hover:bg-green-300 transition'>Send</button>
    </form>
  </section>
</Layout>
