---
import Layout from '../layouts/Layout.astro';
import Projects from '../components/Projects.astro';
import SocialIcons from '../components/SocialIcons.astro';
---

<Layout title="Inicio">
  <section class="text-center relative">
    <img src="/src/public/image.jpg" alt="Pablo Rocamora López" 
         class="rounded-full w-32 h-32 mx-auto border-4 border-green-400 shadow-lg">
    <h1 class="text-3xl mt-4 font-bold text-gray-900 dark:text-white">Pablo Rocamora López</h1>
    <p class="text-green-400 text-lg dark:text-green-300">Front-end Developer</p>
    <p class="mt-2 max-w-lg mx-auto text-gray-700 dark:text-gray-300">
      Un desarrollador Full Stack especializado en Front-end con sede en Nueva York...
    </p>
    <SocialIcons />
  </section>
  <Projects />
</Layout>