<div class="mt-8 flex justify-center items-center space-x-2">
  <button class="border border-green-400 text-green-400 px-4 py-2 rounded-l hover:bg-green-300 hover:text-white transition">Anterior</button>
  <button class="border border-green-400 text-green-400 px-4 py-2 rounded-r hover:bg-green-300 hover:text-white transition">1</button>
  <button class="border border-green-400 text-green-400 px-4 py-2 rounded-r hover:bg-green-300 hover:text-white transition">2</button>
  <button class="border border-green-400 text-green-400 px-4 py-2 rounded-r hover:bg-green-300 hover:text-white transition">Siguiente</button>
</div>