<div class="flex justify-center space-x-6 mt-4">
  <a href="#" class="text-white hover:text-green-400 transition"><i class="fab fa-facebook text-2xl"></i></a>
  <a href="#" class="text-white hover:text-green-400 transition"><i class="fab fa-instagram text-2xl"></i></a>
  <a href="#" class="text-white hover:text-green-400 transition"><i class="fab fa-twitter text-2xl"></i></a>
  <a href="#" class="text-white hover:text-green-400 transition"><i class="fab fa-linkedin text-2xl"></i></a>
</div>